@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?3squws');
  src:  url('../font/icomoon.eot?3squws#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?3squws') format('truetype'),
    url('../font/icomoon.woff?3squws') format('woff'),
    url('../font/icomoon.svg?3squws#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mood-excited:before {
  content: "\e918";
}
.icon-mood-nervous:before {
  content: "\e919";
}
.icon-mood-laugh:before {
  content: "\e91a";
}
.icon-mood-happy:before {
  content: "\e91b";
}
.icon-mood-cool:before {
  content: "\e91c";
}
.icon-mood-inlove:before {
  content: "\e91d";
}
.icon-mood-sad:before {
  content: "\e91e";
}
.icon-mood-determined:before {
  content: "\e91f";
}
.icon-mood-nostalgic:before {
  content: "\e932";
}
.icon-arrow-right:before {
  content: "\e920";
}
.icon-arrow-left:before {
  content: "\e921";
}
.icon-arrow-bottom:before {
  content: "\e933";
}
.icon-reply:before {
  content: "\e90a";
}
.icon-comment-full:before {
  content: "\e90b";
}
.icon-comment:before {
  content: "\e90c";
}
.icon-like-full:before {
  content: "\e90d";
}
.icon-like:before {
  content: "\e90e";
}
.icon-join:before {
  content: "\e90f";
}
.icon-send:before {
  content: "\e910";
}
.icon-share:before {
  content: "\e911";
}
.icon-trash:before {
  content: "\e912";
}
.icon-settings:before {
  content: "\e913";
}
.icon-logout:before {
  content: "\e914";
}
.icon-options:before {
  content: "\e915";
}
.icon-question:before {
  content: "\e916";
}
.icon-rendezmood:before {
  content: "\e917";
}
.icon-bulle:before {
  content: "\e905";
}
.icon-pen:before {
  content: "\e908";
}
.icon-ring:before {
  content: "\e909";
}
.icon-previous:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-playlist:before {
  content: "\e903";
}
.icon-pause:before {
  content: "\e904";
}
.icon-replay:before {
  content: "\e906";
}
.icon-replay-one:before {
  content: "\e931";
}
.icon-shuffle:before {
  content: "\e907";
}
.icon-mooddy:before {
  content: "\e922";
}
.icon-pin:before {
  content: "\e923";
}
.icon-more-selected:before {
  content: "\e924";
}
.icon-more:before {
  content: "\e925";
}
.icon-play-round:before {
  content: "\e926";
}
.icon-infinite:before {
  content: "\e927";
}
.icon-follow:before {
  content: "\e928";
}
.icon-users:before {
  content: "\e929";
}
.icon-list:before {
  content: "\e92a";
}
.icon-casque:before {
  content: "\e92b";
}
.icon-user:before {
  content: "\e92c";
}
.icon-nearme:before {
  content: "\e92d";
}
.icon-online:before {
  content: "\e92f";
}
.icon-back:before {
  content: "\e930";
}
.icon-wand:before {
  content: "\e934";
}
.icon-mail:before {
  content: "\e935";
}
.icon-loupe:before {
  content: "\e936";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
